---
layout: layouts/base.njk
title: Page not found
permalink: /404.html
eleventyExcludeFromCollections: true
---
<section class="page-head">
  <h1>Page not found</h1>
  <p class="lede">That page doesn't exist. Try the <a href="{{ '/committees/' | url }}">committees</a> or <a href="{{ '/' | url }}">home</a>.</p>
</section>
